body {
    margin: 0;
    font-family: Arial, sans-serif;
    color: whitesmoke;
    background-color: black; /* Color de fondo para el cuerpo */
  }
  
  .container {
    display: flex;
    justify-content: space-between; /* Distribuye las columnas con espacio entre ellas */
    padding: 20px; /* Espacio alrededor del contenedor */
  }
  
  .left-column {
    width: 70%; /* Ancho del 70% para la columna izquierda */
    /*background-color: dimgrey; /* Color de fondo de la columna izquierda */
    padding: 20px; /* Espacio interno dentro de la columna */
    box-sizing: border-box; /* Incluir el padding en el ancho total */
  }
  
  .right-column {
    width: 30%; /* Ancho del 30% para la columna derecha */
    /*background-color: grey; /* Color de fondo de la columna derecha */
    padding: 20px; /* Espacio interno dentro de la columna */
    box-sizing: border-box; /* Incluir el padding en el ancho total */
  }

  table {
    border-collapse: collapse;
    width: 90%;
    margin: 10px auto;
    table-layout: fixed;
  }
  
  table, th, td {
    border: 1px solid grey;
    padding: 1px;
    text-align: center;
    font-size: 10px;
  }
  
  th {
    /*background-color: dimgrey;*/
    font-size: 12px;
  }